.burger-menu {
  display: none;
  transition: all 1s ease-in-out;
  transform: rotate(0deg);
  margin-top: calc(71px / 2 - 10px);
  @media (max-width: 767px) {
    display: flex;
    width: 25px;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    margin-left: 20px;
    margin-right: calc(50vw - 46px - 45px);
  }
}
.burger-menu__line {
  width: 25px;
  height: 2.4px;
  background-color: #ffffff;
  border-radius: 5px;
}
.active-burger-menu {
  transition: all 1s ease-in-out;
  justify-content: flex-start;
  height: 100vh;
  width: 278px;
  position: fixed;
  box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.1);
  background: #2d303a;
  z-index: 100;
  overflow: scroll;
}
.active-icon-burger-menu {
  transition: all 1s ease-in-out;
  transform: rotate(90deg);
  margin-right: calc(50% - 64px - 45px);
}
