body{
    border-bottom: 10px solid rgb(76, 40, 134);
    width: 1024px;
    margin: auto;
     }
     header{
height: 130px;
position:relative;
margin: auto;
text-align: center;
border-bottom: 1px solid rgb(76, 40, 134);
background-color:rgb(76, 40, 134);
display: flex;
flex-direction: column;
justify-content:center;
  } 
main{
    width: 944px;
    box-sizing: border-box;
    margin: auto;
    flex-direction: row;
   display: flex;
   padding-left: 20px;
  }
  li {
    list-style-type: none; 
   }
   li::before {
    color: rgb(76, 40, 134); 
    content: "\27A4"; 
    padding-right: 10px;
   }
   li{
       font-size: 20px;
       margin-top: 10px;
   }
   section > div{
    margin-right: 15px;
    border-bottom: 1px solid rgb(76, 40, 134); 
    height: 150px;
}
div > p{
    font:bold 25px "Times New Roman";
    line-height: 0px;
    justify-content: center;
    display: flex; 
           }
           span{
      opacity: 0.6;
    }
    .A_D{
        border-radius: 50%;
        border: 3px solid rgb(255, 255, 255);
        padding: 1px;
        position: absolute;
        bottom:8px;
       left: 70px;
          }
          .name{
    font: bold 50px "Times New Roman";
    color: #ffffff;
    position: relative;
    top: 30px;
    left: 60px;
      }
      .objective{
        font: 33px "Times New Roman";
        color: #ffffff;
        position: relative;
        bottom: 40px;
        left: 60px;
    }
      .leftSection{
          width: 344px;
        }
        .rightSection{
        margin-left: 30px;
        width: 600px;
    }
    
    .blockContacts > div {
        display: flex;
           margin: 20px 10px;
                  }
                  .blockContacts > div > p{
        font: 20px "Times New Roman" ;
        display: block;
        margin: -3px 10px;
    }
    .blockSummary p:nth-child(2){
        font: 20px "Times New Roman" ;
          margin: 10px 10px;
       }
      
        .rightSection > div > ul > li{
            margin-bottom: 30px;
            }
         
               .rightSection div:first-child ,.leftSection div:first-child{
                height: 130px;
                }
                .rightSection > div:last-child ,.leftSection div:last-child{
                 border: none;
                height: 140px;
                }
                .tableSkills{
                         padding-left: 10px;
            }