.slide-1{
  background-color: #F06C64;
  display: flex;

  align-items: center;
  height: 100%;
  @media (max-width: 1019px) {
    justify-content: center;
}
}
   
//       }
//       @media (max-width: 767px) {
//    margin: 20px 0px 26px;
//       }
//       @media (max-width: 374px) {
//         padding: 0px  23px;
//         }
// }



